/* 
    Document   : style
    Created on : Nov 6, 2011, 9:01:56 PM
    Author     : scottf
    Description:
        Purpose of the stylesheet follows.
*/
h1, h2, h3 {

    font-family: 'Times New Roman',Times,serif;
    color: #333;
    background: transparent;

}
h1 {
    font-size: 2em;
}

.home #container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    margin-top: 5px;
    
}

.home #content {
    width: 560px;
    margin-left:150px;
    margin-right: 150px;
    font-size: 21px;
    background: transparent;
    text-align: center;
    background: url(/img/history_parchment.jpg) no-repeat transparent;
    clear:none;
}

.inner_content {
    text-align: left;
    margin:4px;
    padding: 10px;
}

.nav {
    width: 140px;
    float:left;
    background: #ecebd5;
    border: 1px solid #3c3c3c;
    color: #333;

}
.nav ul {
    list-style: none;
    margin:0px;
}
.nav li {
    margin:0px;
}

.nav li a{
    padding: 3px;
    display: block;
    color: #4b2f55;
    border-bottom: 1px solid #d4d4d4;
}
.nav li a:hover {
    background: #e7a0fe
}

body.home {
    background: url(/img/main_bg.gif) repeat #c4c4c4;
    
}

.home .rsvp_form {
    text-align: left;
    padding: 10px;
    margin-top: 10px;
    border-top-style: dashed;
    border-top-width: 2px;
    border-top-color: #3c3c3c;
}